*.tlog
*.suo
*.obj
*.tmh
*.cer
*.log
*.cat
*.user
ScrollingUSB/ScrollingUSB.vcxproj
*.opendb
ScrollingUSB/ScrollingUSB.VC.db
*.sln
ScrollingUSB/ScrollingUSB.vcxproj.filters
*.pdb
*.sys
ScrollingUSB/x64/Debug/ScrollingUSB.inf
ScrollingUSB/x64/Debug/ScrollingUSB/ScrollingUSB.inf
ScrollingUSB/Debug/ScrollingUSB/ScrollingUSB.inf
ScrollingUSB/Debug/ScrollingUSB.inf